@model HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h1>Error</h1>
          @if (Model != null)
          {
            @Model.Exception.Message
          }
          else
          {
              <p>Not supported exception!</p>
          }
    </div>
</body>
</html>
