@model AHP2.Models.Project

@{
    ViewBag.Title = "Create project";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <h2>New project</h2>
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-offset-3 col-md-6 well well-sm">
            <div class="row form-group">
                <div class="col-md-offset-3 col-md-3">
                    @Html.LabelFor(p => p.Name)
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(p => p.Name)
                </div>
                @Html.HiddenFor(p => p.UserId, new { @Value = Model.UserId})
            </div>
            <div class="row">
                <input class="btn btn-primary" type="submit" value="Next" />
            </div>
        </div>
    </div>
}

